
{{#each reports}}
## {{title}}

| Item | Owners | Status | Comments |
|------|--------|--------|----------|
{{#each items}}
|[{{title}}]({{link}})|{{{owners}}}|{{statusColor}}|{{{comment}}}|
{{/each}}

{{/each}}
